*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    background: #031825;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
    
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    border-radius: 10px;
}

.container h1{
    font-weight: 550;
    font-size: 47px;
}
.container h1 span{
    color: rgb(29, 177, 150);
    border-bottom: solid 4px;
    padding-bottom: 7px;

}

.display img{
    width: 35px;
    cursor: pointer;
}

.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button img{
    width: 28px;
    margin-right: 10px
}

.container button{
    border: 0;
    outline: 0;
    background: rgb(15, 118, 99);
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 30px;
    cursor: pointer;

}